body {
  color: #434455;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

img {
  display: block;
}
h2 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.hide {
  display: none;
}
/* ZAGALNI PRAWYLA */
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  margin-left: auto;
  margin-bottom: 24px;
  stroke: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-btn:hover,
.modal-btn:focus + .modal-btn-icon {
  fill: #ffffff;
}
.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* HEADER */
.header-section {
  border-bottom: 1px solid #e7e9fc;
  background: #fff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .address,
  .ul-header-list {
    display: none;
  }
}
.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  display: block;
}
.logo-header {
  padding: 16px 0;
}
.logo-dark {
  color: #2e2f42;
}
.btn-menu {
  background-color: transparent;
  border: none;
  padding: 0;
}
.btn-menu-icon {
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .btn-menu {
    display: none;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .ul-header-list {
    display: flex;
    gap: 40px;
  }
  .ul-header-link {
    position: relative;
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;

    display: block;
  }
  .ul-header-link:hover,
  .ul-header-link:focus {
    color: #404bbf;
  }
  .logo-header {
    margin-right: 120px;
  }
  .ul-header-link.active {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .ul-header-link.active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    display: block;
    border-radius: 2px;
    background-color: #404bbf;
  }
  .address {
    font-style: normal;
  }
  .ul-link-address {
    display: flex;
    gap: 12px;
    flex-direction: column;
  }
  .link-address {
    color: #434455;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link-address:hover,
  .link-address:focus {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .ul-link-address {
    gap: 40px;
    flex-direction: row;
  }
  .link-address {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
  .logo-header {
    margin-right: 76px;
  }
}
/* MOBILE-MUNE */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow-y: auto;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  padding-top: 72px;
  padding-bottom: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-nav {
  margin-bottom: auto;
}
.ul-mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.ul-mobile-menu-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.active {
  color: #404bbf;
}
.address-mobile {
  font-style: normal;
  margin-bottom: 48px;
}
.ul-link-address-mobile {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.ul-li-address-mobile:first-child > .link-address-mobile {
  color: #4d5ae5;
}
.link-address-mobile {
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.ul-social-li {
  display: flex;
  align-items: center;
  gap: 40px;
}

.social-items {
  width: 40px;
  height: 40px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}
/* HEROSECTION */
.heropart {
  margin-left: auto;
  margin-right: auto;
  padding: 72px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/peopleoffice-mobile@1x.jpg);
  max-width: 320px;
}
.hero-title-h {
  color: #fff;
  font-size: 36px;
  line-height: 1.12;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 210px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}
.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  color: #fff;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .heropart {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/peopleoffice-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .heropart {
    padding: 112px 0;
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/peopleoffice-tablet@1x.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .heropart {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/peopleoffice-tablet@2x.jpg);
    }
  }
  .hero-title-h {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1158px) {
  .heropart {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/peopleoffice-desctop@1x.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .heropart {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/peopleoffice-desctop@2x.jpg);
    }
  }
  .hero-title-h {
    margin-bottom: 48px;
  }
}
/* SECTION-ONE */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.wrapper {
  display: none;
}
.section-advantages {
  background-color: #fff;
  padding: 96px 0;
}
.ul-advantages {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
}

.li-advantages {
  flex-basis: 100%;
}
.title-advantages {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.text-advantages {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .ul-advantages {
    display: flex;
    gap: 72px 24px;
  }
  .li-advantages {
    max-width: 356px;
    flex-basis: calc((100% - 24px) / 2);
  }
  .title-advantages {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .section-advantages {
    padding: 120px 0;
  }
  .ul-advantages {
    gap: 24px;
  }
  .title-advantages {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
  .text-advantages {
    font-weight: 400;
  }
  .li-advantages {
    flex-basis: calc((100% - 72px) / 4);
  }
  .wrapper {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
  }
}
/* SECTION-TWO */
.ourteam {
  background-color: #f4f4fd;
  padding: 96px 0;
}
.our-team-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.ul-our-team {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  align-items: center;
  /* justify-content: space-between; */
  text-align: center;
  max-width: 264px;
  margin: 0 auto;
}
.list-our-team {
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
/* .list-our-team > .img {
  width: 100%;
} */
.our-team-words {
  padding: 32px 0;
}
.ourteam-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.ourteam-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.ul-social-li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.social-items {
  width: 40px;
  height: 40px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .ul-our-team {
    gap: 64px 24px;
    max-width: 552px;
  }
  .list-our-team {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .ourteam {
    padding: 120px 0;
  }
  .ul-our-team {
    width: 100%;
    display: flex;
    gap: 24px;
    min-width: 1158px;
    flex-wrap: nowrap;
  }
  .list-our-team {
    max-width: 264px;
    width: calc((100% - 3 * 24px) / 4);
  }
}
/* SECTION-THREE */
.ourportfolio {
  padding: 96px 0;
}
.title-our-portfolio {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ul-ourportfolio {
  /* d
  align-items: center;
  justify-content: space-between;
  text-align: center;
   */
  display: flex;
  flex-wrap: wrap;
  max-width: 288px;
  flex-direction: column;
  column-gap: 24px;
  row-gap: 48px;
  margin: 0 auto;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.li-ourportfolio > img {
  width: 100%;
}
.li-ourportfolio {
  width: 100%;
  gap: 32px;
}
.li-ourportfolio:hover,
.li-ourportfolio:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.ourportfolio-words {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.ourportfolio-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.ourportfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.bestellers-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  padding: 40px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
  /* transition: transform 250ms; */
}
.li-ourportfolio:hover .overlay {
  transform: translateY(0);
}
@media screen and (min-width: 768px) {
  .ul-ourportfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 24px;
    row-gap: 48px;
    max-width: 736px;
  }
  .li-ourportfolio {
    width: 356px;
    width: calc((100% - 24px * 1)) 2;
  }
}
@media screen and (min-width: 1158px) {
  .ourportfolio {
    padding: 120px 0;
  }
  .ul-ourportfolio {
    min-width: 1128px;
  }
  .li-ourportfolio {
    width: calc((100% - 24px * 2) / 3);
  }
}

/* FOOTER */
.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}
.logo-footer {
  margin-bottom: 16px;
  text-align: center;
}
.logo-white {
  color: #f4f4fd;
}
.footer .text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-social-media,
.wrapper-caption {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}
.ul-social-li-f {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.social-items-footer {
  width: 40px;
  height: 40px;
}
.social-icon {
  fill: #f4f4fd;
}
.social-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  color: #f4f4f4;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
}
.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}
.subscribe-form-input {
  padding: 8px 16px;
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  background-color: transparent;
  outline: transparent;
  width: 288px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.subscribe-form-input::placeholder {
  color: currentColor;
}
.subscribe-form-btn {
  height: 40px;
  min-width: 165px;
  border-radius: 4px;
  background: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  color: #fff;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
  cursor: pointer;
  border: none;
}
.subscribe-form-icon {
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .logo-footer,
  .footer-social-media,
  .wrapper-caption {
    text-align: left;
  }
  .footer-container {
    max-width: 584px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 72px 24px;
  }
  .box-logo-footer {
    max-width: 264px;
  }
  .subscribe-form {
    gap: 24px;
  }
  .subscribe-form-input {
    width: 264px;
  }
}
@media screen and (min-width: 1158px) {
  .footer-container {
    max-width: 1158px;
    gap: 0;
  }
  .box-logo-footer {
    margin-right: 120px;
  }
  .footer-wrapper {
    margin-left: auto;
  }
}
