*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  color: #434455;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
img {
  display: block;
}
h2 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}
/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/* Header */

.header-section {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  border-bottom: 1px solid #e7e9fc;

  background: #fff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
}
.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-right: 76px;
}
.logo-dark {
  color: #2e2f42;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  width: 71px;
}
/* NAV */
.ul-header-link {
  position: relative;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;

  display: block;
}

.ul-header-link:hover,
.ul-header-link:focus {
  color: #404bbf;
}

.ul-header-list {
  display: flex;
  gap: 40px;
}
.ul-header-link.active {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ul-header-link.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  display: block;
  border-radius: 2px;
  background-color: #404bbf;
  /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
/*  ADDRESS*/
.address {
  margin-left: auto;
  font-style: normal;
}

.ul-link-address {
  display: flex;
  gap: 40px;
  /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.link-address {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-address:hover {
  color: #404bbf;
}

/* main */
.heropart {
  margin-left: auto;
  margin-right: auto;
  padding: 188px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/peopleoffice.jpg);
  max-width: 1440px;
}
.hero-title-h {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}
.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  color: #fff;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

/* SEC */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-advantages {
  background-color: #fff;
  padding: 120px 0;
}
.ul-advantages {
  display: flex;
  gap: 24px;
}
.title-advantages {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.text-advantages {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.li-advantages {
  flex-basis: calc((100% - 72px) / 4);
}
.wrapper {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
}
/* team */
.ourteam {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.ul-our-team {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;

  text-align: center;
}
.list-our-team {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  align-items: center;
  flex-basis: calc((100% - 72px) / 4);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.ourteam-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.ourteam-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.our-team-words {
  padding: 32px 0;
}
.ul-social-li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.social-items {
  width: 40px;
  height: 40px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-link .active {
  background-color: #404bbf;
}
.social-icon {
  fill: #f4f4fd;
}
/* OURPORTFOLIO */
.ourportfolio {
  padding: 120px 0;
}
.title-our-portfolio {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.li-ourportfolio:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.li-ourportfolio {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ul-ourportfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ourportfolio-words {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.ourportfolio-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.ourportfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.bestellers-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  padding: 40px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
  /* transition: transform 250ms; */
}
.li-ourportfolio:hover .overlay {
  transform: translateY(0);
}
/* footer */
.logo-white {
  color: #f4f4fd;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.footer .text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  width: 264px;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.logo-footer {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 16px;
}
.ul-social-li-f {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}
.social-items-footer {
  width: 40px;
  height: 40px;
}
.social-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  color: #f4f4f4;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
}

.footer-social-media {
  color: #ffffff;
  letter-spacing: 0.02em;
  font-size: 16px;

  font-weight: 500;
  line-height: 24px;
  margin-bottom: 16px;
}
.box-link-footer {
  justify-content: center;
  align-items: center;
}
.box-logo-footer {
  margin-right: 120px;
}
/* asdddddddddddddddddddddddaaaaaa */
.container .footer-container {
  display: flex;
  align-items: center;
}
.footer-wrapper {
  margin-left: auto;
}
.wrapper-caption {
  margin-bottom: 16px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
.subscribe-form {
  display: flex;
  align-items: center;
  gap: 24px;
}
.subscribe-form-filed {
}
.subscribe-form-input {
  padding: 8px 16px;
  color: #fff;
  font-size: 12px;
  line-height: 24px; /* 200% */
  letter-spacing: 0.48px;
  background-color: transparent;
  outline: transparent;
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.subscribe-form-input::placeholder {
  color: currentColor;
}
.subscribe-form-btn {
  height: 40px;
  min-width: 165px;
  border-radius: 4px;
  background: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px 24px;
  color: #fff;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  cursor: pointer;
  border: none;
}
.subscribe-form-icon {
  margin-left: 16px;
}
/* backdrop */
.backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
.modal {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  position: absolute;
  padding: 72px 24px 24px 24px;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  margin-left: auto;
  margin-bottom: 24px;
  stroke: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-btn:hover,
.modal-btn:focus + .modal-btn-icon {
  fill: #ffffff;
}
.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-caption {
  margin-bottom: 16px;
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.modal-form {
}
.form-modal-div {
  margin-bottom: 8px;
}
.form-label {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
}
.form-filed {
  position: relative;
}
.form-input {
  padding-left: 38px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}
.form-input:focus {
  border-color: #4d5ae5;
}
.form-icon {
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  position: absolute;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .form-icon {
  fill: #4d5ae5;
}
.form-wrapper {
  margin-bottom: 16px;
}

/* .form-agreement-checkbox:focus {
  border-color: #4d5ae5;
} */
/* .input-checkbox:checked + .form-agreement > .form-agreement-checkbox {
  border-color: #4d5ae5;
} */

.form-message {
  padding: 8px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  font-size: 12px;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  line-height: 1.17;
  letter-spacing: 0.48px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.form-message:focus {
  border-color: #4d5ae5;
}
/* ...................... */
.form {
  margin-bottom: 24px;
}
.form-agreement {
  display: block;
  margin-bottom: 24px;
  color: #8e8f99;
  font-size: 12px;

  line-height: 1.17; /* 116.667% */

  letter-spacing: 0.04em;
}
.input-checkbox {
}
.form-agreement-checkbox {
  margin-right: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}
.input-checkbox:checked + .form-agreement > .form-agreement-checkbox {
  background-color: #404bbf;
  border: transparent;
  fill: #f4f4fd;
}
.input-checkbox:checked + .form-agreement-checkbox > .form-agreement-icon {
  opacity: 1;
}
.privacy-policy {
  color: #4d5ae5;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-decoration-line: underline;
}
.send-btn {
  display: block;
  height: 56px;
  min-width: 169px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin-top: 24px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  border: none;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-btn:hover {
  background-color: #404bbf;
  cursor: pointer;
}
.input-checkbox:focus + .form-agreement > .form-agreement-checkbox {
  border-color: #404bbf;
}
